<div class="footer">
    <div class="col-lg-2 col-md-2 col-xs-12">
        @Html.ActionLink("Termos de Serviço", "CarregarDesenvolvimento", "BaseAdmin")
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
        @Html.ActionLink("Política de Privacidade", "CarregarDesenvolvimento", "BaseAdmin")
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
        @Html.ActionLink("Fale Conosco", "CarregarDesenvolvimento", "BaseAdmin")
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="pull-right">
            Todos os direitos reservados
        </div>
        <div>
            <strong>Copyright</strong> EduMidia &copy; 2020
        </div>
    </div>    
</div>
